﻿<div class='container-fluid'>
    <header>
        <navigation></navigation>
    </header>
    <div class="col-lg-offset-1 col-lg-10" ng-controller="AppController as controller">
        <div class="spinner" ng-show="controller.showSpinner">
            <div class="loader">
                <div class="top"></div>
                <div class="bottom"></div>
                <div class="line"></div>
            </div>
        </div>
        <div ui-view></div>
        <footer>
            <p>
                &copy; WildStrakh
            </p>
        </footer>
    </div>
</div>
