﻿@using Domain.Entities.Dictionary
@using PagedList.Mvc
@model PagedList.PagedList<Business.ViewModels.Contract>

<div class="h2">
    Контракты
</div>
<table class="table table-bordered table-condensed table-striped table-responsive">
    <tr>
        <th>Клиент</th>
        <th>Сумма</th>
        <th>Взнос</th>
        <th>Оплата</th>
        <th>Срок</th>
    </tr>
    @foreach (var contract in Model)
    {
        <tr>
            <td>
                @contract.Person.FirstName @contract.Person.MiddleName @contract.Person.LastName
            </td>
            <td>
                @contract.Amount
            </td>
            <td>
                @contract.Premium
            </td>
            <td>
                @(contract.PaymentOrder == PaymentOrder.Monthly ? "Ежемесячно" : contract.PaymentOrder == PaymentOrder.Once ? "Единовременно" : "Ежегодно")
            </td>
            <td>
                @contract.StartDate.ToShortDateString() - @contract.EndDate.ToShortDateString()
            </td>
        </tr>
    }
</table>
<div class="col-lg-12">
    <div class="center">
        @Html.PagedListPager(Model, page => Url.Action("GetActiveContracts", new
        {
            page,
            pageSize = Model.PageSize
        }))
        @Model.FirstItemOnPage - @Model.LastItemOnPage из @Model.TotalItemCount
    </div>
</div>
