﻿@using Domain.Entities.Dictionary
@using PagedList.Mvc
@model PagedList.PagedList<Business.ViewModels.Account>

<div class="h2">
    Аккаунты финансовой системы
</div>
<table class="table table-bordered table-condensed table-striped table-responsive">
    <tr>
        <th>Тип</th>
        <th>Баланс</th>
        <th>Номер карты</th>
        <th>Владелец</th>
    </tr>
    @foreach (var account in Model)
    {
        <tr>
            <td>
                @(account.AccountType == AccountType.System ? "Системный" : "Клиентский")
            </td>
            <td>
                @account.Balance
            </td>
            <td>
                @account.CardNumber
            </td>
            <td>
                @{
                    var owner = account.Owner == null ? "Система" : $"{account.Owner.FirstName} {account.Owner.MiddleName} {account.Owner.LastName}";
                }
                @owner
            </td>
        </tr>
    }
</table>
<div class="col-lg-12">
    <div class="center">
        @Html.PagedListPager(Model, page => Url.Action("GetAccounts", new
        {
            page,
            pageSize = Model.PageSize
        }))
        @Model.FirstItemOnPage - @Model.LastItemOnPage из @Model.TotalItemCount
    </div>
</div>

