﻿@using Domain.Entities.Dictionary
@using PagedList.Mvc
@model PagedList.PagedList<Business.ViewModels.Transaction>

<div class="h2">
    Транзакции
</div>
<table class="table table-bordered table-condensed table-striped table-responsive">
    <tr>
        <th>Статус</th>
        <th>Клиент</th>
        <th>Сумма</th>
        <th>Запланирована</th>
        <th>Проведена</th>
    </tr>
    @foreach (var transaction in Model.OrderBy(t => t.PlannedDate))
    {
        <tr>
            <td>
                @(transaction.Status == TransactionStatus.Waiting ? "Ожидание" : "Завершена")
            </td>
            <td>
                @transaction.Person.FirstName @transaction.Person.MiddleName @transaction.Person.LastName
            </td>
            <td>
                @transaction.Amount
            </td>
            <td>
                @transaction.PlannedDate.ToShortDateString()
            </td>
            <td>
                @(transaction.Status == TransactionStatus.Waiting ? "-" : transaction.TransactionDate.ToShortDateString())
            </td>
        </tr>
    }
</table>
<div class="col-lg-12">
    <div class="center">
        @Html.PagedListPager(Model, page => Url.Action(ViewBag.Action, new
        {
            page, pageSize = Model.PageSize
        }))
        @Model.FirstItemOnPage - @Model.LastItemOnPage из @Model.TotalItemCount
    </div>
</div>
