﻿<div class="row">

    <div class="col-sm-offset-2 col-sm-8" ng-controller="ApplicationDetailsController as controller">

        <span class="label label-lg label-info">{{::controller.application.status.name}}</span>

        <application application="controller.application"></application>

        <additional-information informations="controller.informations"></additional-information>

        <information-correction corrections="controller.corrections"></information-correction>

        <button class="btn btn-info" ng-if="controller.isReadyForQuestions()" ng-click="controller.goToQuestions()" ng-disabled="!controller.allowActions()">
            Подготовить договор
        </button>

        <button class="btn btn-info" ng-if="controller.isReadyForApproval()" ng-click="controller.goToApproval()" ng-disabled="!controller.allowActions()">
            Одобрить
        </button>

        <button class="btn btn-info" ng-if="controller.isReadyForApproval()" ng-click="controller.goToRequest()" ng-disabled="!controller.allowActions()">
            Запросить доп. информацию
        </button>

    </div>
</div>
