﻿<div class="row">
    <div class="col-sm-offset-2 col-sm-6" ng-controller="ApplicationsController as controller">
        <div ng-show="controller.isEmpty()">
            <h4>
                Нет заявлений, которые нужно рассмотреть
            </h4>
        </div>

        <div ng-if="controller.validated.length">
            <h3> Провалидированные:</h3>
            <ul class="list-group applications">
                <li class="list-group-item application" ng-repeat="application in controller.validated">
                    <div class="row">
                        <div class="col-lg-4">
                            <strong>
                                {{::application.applicant.firstName}}
                                {{::application.applicant.middleName}}
                                {{::application.applicant.lastName}}
                            </strong>
                        </div>
                        <button type="button"
                                class="btn btn-primary"
                                ng-click="controller.goToDetails(application)">
                            Просмотреть
                        </button>
                        <button type="button"
                                class="btn btn-primary"
                                ng-click="controller.goToQuestions(application)">
                            Сформировать вопросы
                        </button>
                    </div>
                </li>
            </ul>
        </div>
        <div ng-if="controller.processed.length">
            <h3> Обработанные:</h3>
            <ul class="list-group applications">
                <li class="list-group-item application" ng-repeat="application in controller.processed">
                    <div class="row">
                        <div class="col-lg-4">
                            <strong>
                                {{::application.applicant.firstName}}
                                {{::application.applicant.middleName}}
                                {{::application.applicant.lastName}}
                            </strong>
                        </div>
                        <button type="button"
                                class="btn btn-primary"
                                ng-click="controller.goToDetails(application)">
                            Просмотреть
                        </button>
                        <button type="button"
                                class="btn btn-primary"
                                ng-click="controller.answerQuestions(application)">
                            Ответить на вопросы
                        </button>
                    </div>
                </li>
            </ul>
        </div>
        <div ng-if="controller.pending.length">
            <h3> Ждущие одобрения:</h3>
            <ul class="list-group applications">
                <li class="list-group-item application" ng-repeat="application in controller.pending">
                    <div class="row">
                        <div class="col-lg-4">
                            <strong>
                                {{::application.applicant.firstName}}
                                {{::application.applicant.middleName}}
                                {{::application.applicant.lastName}}
                            </strong>
                        </div>
                        <button type="button"
                                class="btn btn-primary"
                                ng-click="controller.goToDetails(application)">
                            Просмотреть
                        </button>
                        <button type="button"
                                class="btn btn-primary"
                                ng-click="controller.approveOrReject(application)">
                            Отвергнуть или одобрить
                        </button>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>