﻿<div class="panel panel-default cancel-contract" ng-controller="NotifyController as controller">
    <div class="panel-heading">
        <b>УВЕДОМЛЕНИЕ О СТРАХОВОМ СЛУЧАЕ</b>
        <button type="button" class="btn btn-warning btn-xs pull-right" ng-click="controller.cancel()">Вернуться назад</button>
    </div>
    <div class="panel-body">
        <form class="form-horizontal col-sm-offset-1 col-sm-10"
              ng-submit="controller.submit()">

            <fieldset>

                <legend> Расскажите о произошедшем... </legend>

                <div class="row">

                    <div class="col-sm-6">

                        <div class="form-group">
                            <label class="col-sm-2"> Что: </label>
                            <div class="col-sm-8">
                                <textarea class="form-control" ng-model="controller.what" placeholder="Подробно, пожалуйста" required></textarea>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2"> Где: </label>
                            <div class="col-sm-8">
                                <textarea class="form-control" ng-model="controller.where" placeholder="Подробно, пожалуйста" required></textarea>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2"> Когда: </label>
                            <div class="col-sm-8">
                                <input type="text"
                                       class="form-control"
                                       uib-datepicker-popup
                                       ng-model="controller.when"
                                       max-date="controller.maxWhen"
                                       open-on-click
                                       required
                                       date-validator
                                       placeholder="2016-01-01"
                                       close-text="Закрыть" />
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-sm-offset-3">
                                <button type="submit" class="btn btn-large btn-info">Послать извещение</button>
                            </div>
                        </div>

                    </div>

                    <div class="col-sm-6">
                        <attachments attachments="controller.attachments"></attachments>
                    </div>

                </div>

            </fieldset>

        </form>
        
    </div>
</div>
