﻿<div class="panel panel-default cancel-contract" ng-controller="CancelController as controller">
    <div class="panel-heading">
        <b>РАСТОРЖЕНИЕ ДОГОВОРА</b>
        <button type="button" class="btn btn-warning btn-xs pull-right" ui-sref="app.myContracts">ОТМЕНИТЬ</button>
    </div>
    <div class="panel-body">

        <form class="form-horizontal col-sm-offset-1 col-sm-10"
              ng-submit="controller.submit()">

            <div class="form-group">
                <label class="control-label">Почему?</label>
                <textarea class="form-control" ng-model="controller.comment" placeholder="Обоснуйте" required></textarea>
            </div>

            <attachments attachments="controller.attachments"></attachments>

            <div class="form-group">
                <button type="submit" class="btn btn-large btn-info">Подать Заявление</button>
            </div>

        </form>
    </div>
</div>
