﻿<div class="row">
    <div class="col-sm-offset-2 col-sm-6" ng-controller="TerminationsController as controller">

        <div ng-hide="controller.terminations.length">
            <h4>
                Нет расторжений!
            </h4>
        </div>


        <div ng-if="controller.terminations.length">

            <h3> Расторжения для проверки</h3>

            <ul class="list-group cases">

                <li class="list-group-item termination" ng-repeat="termination in controller.terminations">
                    От
                    <strong>
                        {{::termination.contract.person.firstName}}
                        {{::termination.contract.person.middleName}}
                        {{::termination.contract.person.lastName}}
                    </strong>
                    <button type="button"
                            class="btn btn-primary btn-xs"
                            ng-click="controller.goToDetails(termination)">
                        Просмотреть
                    </button>
                </li>

            </ul>

        </div>

    </div>
</div>