﻿<div class="panel panel-default cancel-contract" ng-controller="ApproveController as controller">
    <div class="panel-heading">
        <b>СОСТАВЛЕНИЕ ДОГОВОРА</b>
        <button type="button" class="btn btn-warning btn-xs pull-right" ng-click="controller.cancel()">ОТМЕНИТЬ</button>
    </div>
    <div class="panel-body">

        <form class="form-horizontal col-sm-offset-2 col-sm-8"
            ng-submit="controller.submit()">

            <h4> Выберите подходящий вариант договора из предложенных. Помните, что параметры можно изменять.</h4>

            <button class="btn btn-danger" type="button" ng-click="controller.reject()"> Отказать в страховании</button>
            <button class="btn btn-info" type="button" ng-click="controller.request()"> Запросить доп. информацию</button>

            <table class="table table-hover">
                <thead>
                    <tr>
                        <th> Параметры </th>
                        <th ng-repeat="variant in controller.contracts.contractVariants">
                            Вариант #{{::$index}}
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            Размер Премии
                        </td>
                        <td ng-repeat="variant in controller.contracts.contractVariants">
                            <input type="number" ng-model="variant.premium" required />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Размер Суммы
                        </td>
                        <td ng-repeat="variant in controller.contracts.contractVariants">
                            <input type="number" ng-model="variant.amount" required />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Дата Окончания
                        </td>
                        <td ng-repeat="variant in controller.contracts.contractVariants">
                            <input type="text"
                                uib-datepicker-popup
                                   date-validator
                                   ng-model="variant.endDate"
                                   open-on-click
                                   required
                                   close-text="Закрыть" />
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td ng-repeat="variant in controller.contracts.contractVariants">
                            <button class="btn btn-info" type="button" ng-disabled="!controller.allowApproving(variant)" ng-click="controller.approve(variant)">Одобрить #{{::$index}}</button>
                        </td>
                    </tr>
                </tbody>
            </table>

        </form>

    </div>
</div>
