﻿<div class="row popup-container">

    <div class="col-sm-offset-2 col-sm-8">

        <form class="form-horizontal"
              ng-controller="RequestController as controller"
              ng-submit="controller.submit()">

            <fieldset>

                <legend> Запрос на коррекцию информации </legend>

                <div class="row">

                    <div class="form-group">
                        <label class="col-sm-2"> Что нужно исправить: </label>
                        <div class="col-sm-10">
                            <div class="col-sm-10">
                                <textarea class="form-control" ng-model="controller.request" required></textarea>
                            </div>
                        </div>
                    </div>

                </div>

            </fieldset>

            <button type="submit" class="btn btn-default">Отправить</button>
            <button type="button" class="btn btn-warning" ng-click="controller.cancel()">Отменить</button>

        </form>
    </div>
</div>
