﻿<div class="panel panel-default cancel-contract" ng-controller="TerminationRequestController as controller">
    <div class="panel-heading">
        <b>ЗАПРОС НА КОРРЕКЦИЮ ИНФОРМАЦИИ ОТ КЛИЕНТА</b>
        <button type="button" class="btn btn-warning btn-xs pull-right" ng-click="controller.cancel()">ОТМЕНИТЬ</button>
    </div>
    <div class="panel-body">

        <form class="form-horizontal col-sm-offset-2 col-sm-8"
              ng-submit="controller.submit()">

            <fieldset>

                <div class="row">

                    <div class="form-group">
                        <label class="col-sm-2"> Что нужно исправить: </label>
                        <div class="col-sm-10">
                            <div class="col-sm-10">
                                <textarea class="form-control" ng-model="controller.request" required></textarea>
                            </div>
                        </div>
                    </div>

                </div>

            </fieldset>

            <button type="submit" class="btn btn-default">Отправить</button>
        </form>
    </div>
</div>
