﻿<!--<select ng-if="allowMultiple" ng-model="some.model" multiple class="form-control">
    <option value="">Выберите подходящий вариант</option>
    <option ng-repeat="enumValue in enumAsArray" value="{{::enumValue.id}}">
        {{::enumValue.name}}
    </option>
</select>-->

<select class="form-control" ng-model="value" required>
    <option value="">Выберите подходящий вариант</option>
    <option ng-repeat="enumValue in enumAsArray" value="{{::enumValue.id}}">
        {{::enumValue.name}}
    </option>
</select>