﻿<div class="row">
    <div class="col-sm-12"  ng-controller="CorrectionsController as controller">

        <div ng-show="controller.empty()">
            <h4>
               Тут пусто!..
            </h4>
        </div>

        <div ng-if="controller.appCorrections.length">

            <h3> Коррекции по заявлениям: </h3>

            <ul class="list-group">
                <li class="list-group-item" ng-repeat="correction in controller.appCorrections | filter:{isClosed: false}">
                    <strong>{{::correction.requestDate | date:'dd.MM.yyyy'}}</strong>
                    <span>{{::correction.request}}</span>
                    <button type="button"
                        class="btn btn-primary"
                        ng-click="controller.respond(correction, 'a')">
                        Ответить
                    </button>
                </li>
            </ul>

            <ul class="list-group">
                <li class="list-group-item" ng-repeat="correction in controller.appCorrections | filter:{isClosed: true}">
                    <p>
                        <strong>{{::correction.requestDate | date:'dd.MM.yyyy'}}</strong>
                        <span>{{::correction.request}}</span>
                    </p>
                    <p>
                        <strong>{{::correction.responseDate | date:'dd.MM.yyyy'}}</strong>
                        <span>{{::correction.response}}</span>
                    </p>
                </li>
            </ul>

        </div>

        <div ng-if="controller.caseCorrections.length">

            <h3> Коррекции по уведомлениям: </h3>

            <ul class="list-group">

                <li class="list-group-item" ng-repeat="correction in controller.caseCorrections | filter:{isClosed: false}">
                    <strong>{{::correction.requestDate | date:'dd.MM.yyyy'}}</strong>
                    <span>{{::correction.request}}</span>
                    <button type="button"
                            class="btn btn-primary"
                            ng-click="controller.respond(correction, 'c')">
                        Ответить
                    </button>
                </li>

            </ul>

            <ul class="list-group">
                <li class="list-group-item" ng-repeat="correction in controller.caseCorrections | filter:{isClosed: true}">
                    <p>
                        <strong>{{::correction.requestDate | date:'dd.MM.yyyy'}}</strong>
                        <span>{{::correction.request}}</span>
                    </p>
                    <p>
                        <strong>{{::correction.responseDate | date:'dd.MM.yyyy'}}</strong>
                        <span>{{::correction.response}}</span>
                    </p>
                </li>
            </ul>

        </div>

        <div ng-if="controller.terminationCorrections.length">

            <h3> Коррекции по расторжениям: </h3>

            <ul class="list-group">

                <li class="list-group-item" ng-repeat="correction in controller.terminationCorrections | filter:{isClosed: false}">
                    <strong>{{::correction.requestDate | date:'dd.MM.yyyy'}}</strong>
                    <span>{{::correction.request}}</span>
                    <button type="button"
                            class="btn btn-primary"
                            ng-click="controller.respond(correction, 't')">
                        Ответить
                    </button>
                </li>

            </ul>
            <ul class="list-group">
                <li class="list-group-item" ng-repeat="correction in controller.terminationCorrections | filter:{isClosed: true}">
                    <p>
                        <strong>{{::correction.requestDate | date:'dd.MM.yyyy'}}</strong>
                        <span>{{::correction.request}}</span>
                    </p>
                    <p>
                        <strong>{{::correction.responseDate | date:'dd.MM.yyyy'}}</strong>
                        <span>{{::correction.response}}</span>
                    </p>
                </li>
            </ul>
        </div>

    </div>
</div>