﻿<div class="row">

    <div class="col-sm-offset-2 col-sm-8" ng-controller="ViewController as controller">

        <h4> На вопрос {{::controller.request.content}}</h4>

        <p> Вы ответили {{::controller.response.content}}</p>

        <p ng-if="controller.response.attachments && controller.response.attachments.length">
            И прикрепили следующие файлы:
            <display-attachments attachments="controller.response.attachments"></display-attachments>
        </p>
       
    </div>
</div>
