﻿<div class="panel panel-default">
    <div class="panel-heading">
        <b>РАСТОРЖЕНИЕ ДОГОВОРА</b>
    </div>
    <div class="panel-body">

        <div class="col-sm-offset-1 col-sm-10">

            <div class="form-group">
                <label class="control-label">Почему?</label>
                <p>
                    {{::termination.comment}}
                </p>
            </div>

            <display-attachments attachments="termination.attachments"></display-attachments>

        </div>
    </div>
</div>
