﻿<div class="form-group">
    <label class="col-sm-3">Фамилия</label>
    <div class="col-sm-9">
        {{::person.lastName}}
    </div>
</div>

<div class="form-group">
    <label class="col-sm-3">Имя</label>
    <div class="col-sm-9">
        {{::person.firstName}}
    </div>
</div>

<div class="form-group">
    <label class="col-sm-3">Отчество</label>
    <div class="col-sm-9">
        {{::person.middleName}}
    </div>
</div>

<div class="form-group">
    <label class="col-sm-3">ДР</label>
    <div class="col-sm-9">
        {{::person.dateOfBirth | date:'dd-MM-yyyy'}}
    </div>
</div>

<div class="form-group">
    <label class="col-sm-3">Серия паспорта</label>
    <div class="col-sm-9">
        {{::person.passport.series}}
    </div>
</div>

<div class="form-group">
    <label class="col-sm-3">Номер паспорта</label>
    <div class="col-sm-9">
        {{::person.passport.number}}
    </div>
</div>

<div class="form-group">
    <label class="col-sm-3"> Личный номер</label>
    <div class="col-sm-9">
        {{::person.passport.identificationNumber}}
    </div>
</div>
