﻿<div class="panel panel-default cancel-contract" ng-controller="QuestionsController as controller">
    <div class="panel-heading">
        <b>ОЦЕНКА РИСКОВ</b>
        <button type="button" class="btn btn-warning btn-xs pull-right" ng-click="controller.cancel()">ОТМЕНИТЬ</button>
    </div>
    <div class="panel-body">

        <form class="form-horizontal col-sm-offset-1 col-sm-10"
              ng-submit="controller.submit()">
            <fieldset ng-repeat="q in controller.questions.questions">
                <legend> {{::q.content}} </legend>
                <div class="row">
                    <div class="radio" ng-repeat="(answerId, answerText) in q.answers">
                        <label>
                            <input type="radio" name="{{::q.content}}" ng-value="answerId" ng-model="q.answer" required>
                            {{::answerText}}
                        </label>
                    </div>
                </div>
            </fieldset>
            <br/>
            <button type="submit" class="btn btn-default">Отправить</button>
            <button type="button" class="btn btn-warning" ng-click="controller.cancel()">Отменить</button>
        </form>

    </div>
</div>
