﻿<h2>
    Подтвержение адреса электронной почты
</h2>
<div>
    Спасибо за подтверждение.
    @Html.ActionLink("Войти в систему", "Login", "Account", null, new
    {
        id = "loginLink"
    })
</div>
