﻿@model Presentation.Models.Account.ForgotPasswordViewModel

<div class="row col-lg-6">
    @using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new
    {
        @class = "form-horizontal",
        role = "form"
    }))
    {
        @Html.AntiForgeryToken()
        <h4>Восстановление пароля</h4>
        <hr/>
        @Html.ValidationSummary(string.Empty, new
        {
            @class = "text-danger"
        })
        <div class="form-group">
            @Html.LabelFor(m => m.Email, new
            {
                @class = "col-lg-2 control-label"
            })
            <div class="col-lg-10">
                @Html.TextBoxFor(m => m.Email, new
                {
                    @class = "form-control"
                })
            </div>
        </div>
        <div class="form-group">
            <div class="col-lg-offset-2 col-lg-10">
                <input type="submit" class="btn btn-default" value="Отправить письмо"/>
            </div>
        </div>
    }
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
