﻿@model Presentation.Models.Account.LoginViewModel

<div class="row col-lg-6">
    <section id="loginForm">
        @using (Html.BeginForm("Login", "Account", new
        {
            ViewBag.ReturnUrl
        }, FormMethod.Post, new
        {
            @class = "form-horizontal",
            role = "form"
        }))
        {
            @Html.AntiForgeryToken()
            <h4>Вход в систему</h4>
            <hr/>
            @Html.ValidationSummary(true, string.Empty, new
            {
                @class = "text-danger"
            })
            <div class="form-group">
                @Html.LabelFor(m => m.Email, new
                {
                    @class = "col-lg-2 control-label"
                })
                <div class="col-lg-10">
                    @Html.TextBoxFor(m => m.Email, new
                    {
                        @class = "form-control"
                    })
                    @Html.ValidationMessageFor(m => m.Email, string.Empty, new
                    {
                        @class = "text-danger"
                    })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Password, new
                {
                    @class = "col-lg-2 control-label"
                })
                <div class="col-lg-10">
                    @Html.PasswordFor(m => m.Password, new
                    {
                        @class = "form-control"
                    })
                    @Html.ValidationMessageFor(m => m.Password, string.Empty, new
                    {
                        @class = "text-danger"
                    })
                </div>
            </div>
            <div class="form-group">
                <div class="col-lg-offset-2 col-lg-10">
                    <input type="submit" value="Войти" class="btn btn-default"/>
                </div>
                <p>
                    @Html.ActionLink("Восстановить пароль", "ForgotPassword")
                </p>
            </div>
        }
    </section>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
