﻿<div class="jumbotron h1">
    Страховая компания WildStrakh
</div>

@if (User.IsInRole(Common.Constants.AdminRoleName))
{
    <h2>
        Администратор
    </h2>
    <h3>
        @Html.ActionLink("Управление пользователями", "Users", "Admin")
    </h3>
    <h3>
        @Html.ActionLink("Активные контракты", "GetActiveContracts", "Statistics")
    </h3>
    <h3>
        @Html.ActionLink("Завершённые транзакции", "GetCompletedTransactions", "Statistics")
    </h3>
    <h3>
        @Html.ActionLink("Все транзакции", "GetTransactions", "Statistics")
    </h3>
    <h3>
        @Html.ActionLink("Аккаунты финансовой системы", "GetAccounts", "Statistics")
    </h3>
}
@if (User.IsInRole(Common.Constants.UnderwriterRoleName))
{
    <h2>
        Андеррайтер - @Html.ActionLink("Начать работу", "Index", "App")
    </h2>
}
@if (User.IsInRole(Common.Constants.SecretaryRoleName))
{
    <h2>
        Помощник андеррайтера - @Html.ActionLink("Начать работу", "Index", "App")
    </h2>
}
@if (User.IsInRole(Common.Constants.ClientRoleName))
{
    <h2>
        Клиент - @Html.ActionLink("Начать работу", "Index", "App")
    </h2>
}

<div class="col-lg-4">
    <div class="col-lg-12 h4">
        Поддержка
    </div>
    <div class="col-lg-12 h4">
        <a href="mailto:dnb243@gmail.com">dnb243@gmail.com</a>
    </div>
    <hr />
    <div class="col-lg-12 h4">
        Маркетинг
    </div>
    <div class="col-lg-12 h4">
        <a href="mailto:pekaretz@outlook.com">pekaretz@outlook.com</a>
    </div>
</div>
