﻿<hgroup class="title">
    <h1>
        Восстановление пароля
    </h1>
</hgroup>
<div>
    <p>
        Пароль восстановлен.
        @Html.ActionLink("Войти", "Login", "Account", null, new
        {
            id = "loginLink"
        })
    </p>
</div>
