﻿<div class="row">
    <div class="col-sm-12" ng-controller="RequestsController as controller">


        <div ng-show="controller.empty()">
            <h4>
                Тут пусто!..
            </h4>
        </div>

        <div ng-if="controller.appInformations.length">

            <h3> Уточнения по заявлениям: </h3>

            <ul class="list-group">
                <li class="list-group-item" ng-repeat="correction in controller.appInformations | filter:{isClosed: false}">
                    <strong>{{::correction.requestDate | date:'dd.MM.yyyy'}}</strong>
                    <span>{{::correction.request}}</span>
                    <button type="button"
                        class="btn btn-primary"
                        ng-click="controller.satisfy(correction, 'a')">
                        Ответить
                    </button>
                </li>
            </ul>

            <ul class="list-group">
                <li class="list-group-item" ng-repeat="correction in controller.appInformations | filter:{isClosed: true}">
                    <p>
                        <strong>{{::correction.requestDate | date:'dd.MM.yyyy'}}</strong>
                        <span>{{::correction.request}}</span>
                    </p>
                    <p>
                        <strong>{{::correction.responseDate | date:'dd.MM.yyyy'}}</strong>
                        <span>{{::correction.response}}</span>
                    </p>
                </li>
            </ul>

        </div>

        <div ng-if="controller.caseInformations.length">

            <h3> Уточнения по уведомлениям: </h3>

            <ul class="list-group">
                <li class="list-group-item" ng-repeat="correction in controller.caseInformations | filter:{isClosed: false}">
                    <strong>{{::correction.requestDate | date:'dd.MM.yyyy'}}</strong>
                    <span>{{::correction.request}}</span>
                    <button type="button"
                            class="btn btn-primary"
                            ng-click="controller.satisfy(correction, 'c')">
                        Ответить
                    </button>
                </li>
            </ul>

            <ul class="list-group">
                <li class="list-group-item" ng-repeat="correction in controller.caseInformations | filter:{isClosed: true}">
                    <p>
                        <strong>{{::correction.requestDate | date:'dd.MM.yyyy'}}</strong>
                        <span>{{::correction.request}}</span>
                    </p>
                    <p>
                        <strong>{{::correction.responseDate | date:'dd.MM.yyyy'}}</strong>
                        <span>{{::correction.response}}</span>
                    </p>
                </li>
            </ul>

        </div>

        <div ng-if="controller.terminationInformations.length">

            <h3> Уточнения по расторжениям: </h3>

            <ul class="list-group">
                <li class="list-group-item" ng-repeat="correction in controller.terminationInformations | filter:{isClosed: false}">
                    <strong>{{::correction.requestDate | date:'dd.MM.YYYY'}}</strong>
                    <span>{{::correction.request}}</span>
                    <button type="button"
                            class="btn btn-primary"
                            ng-click="controller.satisfy(correction, 't')">
                        Ответить
                    </button>
                </li>
            </ul>


            <ul class="list-group">
                <li class="list-group-item" ng-repeat="correction in controller.terminationInformations | filter:{isClosed: true}">
                    <p>
                        <strong>{{::correction.requestDate | date:'dd.MM.yyyy'}}</strong>
                        <span>{{::correction.request}}</span>
                    </p>
                    <p>
                        <strong>{{::correction.responseDate | date:'dd.MM.yyyy'}}</strong>
                        <span>{{::correction.response}}</span>
                    </p>
                </li>
            </ul>

        </div>

    </div>
</div>
