﻿<div ng-if="informations.some(hasNoResponse)">
    <h3> Не отвеченные:</h3>
    <ul class="list-group">
        <li class="list-group-item" ng-repeat="information in informations.filter(hasNoResponse)">
            Запрос от {{::information.requestDate | date:'dd.MM.yyyy'}}
            <p>
                {{::information.request}}
            </p>
        </li>
    </ul>
</div>

<div ng-if="informations.some(hasResponse)">
    <h3> Отвеченные:</h3>
    <ul class="list-group">
        <li class="list-group-item" ng-repeat="information in informations.filter(hasResponse)">
            Запрос от
            {{::information.requestDate | date:'dd.MM.yyyy'}}
            <p>
                {{::information.request}}
            </p>
            Ответ от
            {{::information.responseDate | date:'dd.MM.yyyy'}}
            <p>
                {{::information.response}}
            </p>

            <display-attachments attachments="information.attachments"></display-attachments>

        </li>
    </ul>
</div>