﻿<div class="row">

    <div class="col-sm-offset-2 col-sm-8" ng-controller="AppDetailsController as controller">

        <application application="controller.application"></application>

        <information-correction corrections="controller.corrections"></information-correction>

        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="button" class="btn btn-large btn-info" ng-click="controller.validate()" ng-disabled="!controller.allowActions()">Одобрить</button>
                <button type="button" class="btn btn-large btn-info" ng-click="controller.requestCorrection()" ng-disabled="!controller.allowActions()">Запросить коррекцию</button>
            </div>
        </div>

    </div>
</div>
