﻿@{
    Layout = null;
}

<!DOCTYPE HTML>
<html ng-app="wild" ng-strict-di>
    <head>
        <title>WildStrakh</title>
        @Styles.Render("~/styles")
    </head>
    <body ui-view>
        @Scripts.Render("~/scripts/vendors")
        @Scripts.Render("~/scripts/app")
    </body>
</html>
