﻿<div class="row">
    <div class="col-sm-offset-2 col-sm-6" ng-controller="CasesController as controller">

        <div ng-hide="controller.pending.length || controller.validated.length">
            <h4>
                Нет уведомлений, которые нужно проверить!
            </h4>
        </div>

        <div ng-if="controller.validated.length">
            <h3> Провалидированные:</h3>
            <ul class="list-group applications">
                <li class="list-group-item application" ng-repeat="case in controller.validated">
                    <div class="row">
                        <div class="col-lg-4">
                            <strong>
                                {{::case.contract.person.firstName}}
                                {{::case.contract.person.middleName}}
                                {{::case.contract.person.lastName}}
                            </strong>
                        </div>
                        <button type="button"
                                class="btn btn-primary"
                                ng-click="controller.goToDetails(case)">
                            Просмотреть
                        </button>
                        <button type="button"
                                class="btn btn-primary"
                                ng-click="controller.goToDetails(case)">
                            Отвергнуть или одобрить
                        </button>
                    </div>
                </li>
            </ul>
        </div>

        <div ng-if="controller.pending.length">
            <h3> Ждущие одобрения:</h3>
            <ul class="list-group applications">
                <li class="list-group-item application" ng-repeat="case in controller.pending">
                    <div class="row">
                        <div class="col-lg-4">
                            <strong>
                                {{::case.contract.person.firstName}}
                                {{::case.contract.person.middleName}}
                                {{::case.contract.person.lastName}}
                            </strong>
                        </div>
                        <button type="button"
                                class="btn btn-primary"
                                ng-click="controller.goToDetails(case)">
                            Просмотреть
                        </button>
                        <button type="button"
                                class="btn btn-primary"
                                ng-click="controller.goToDetails(case)">
                            Отвергнуть или одобрить
                        </button>
                    </div>
                </li>
            </ul>
        </div>

    </div>
</div>