﻿<div class="panel panel-default">
    <div class="panel-heading">
        <b>Уведомление о страховом случае</b>
    </div>
    <div class="panel-body">

        <div class="col-sm-offset-1 col-sm-10">

            <table class="table">
                <tr>
                    <td><b>Что произошло:</b></td>
                    <td>{{::case.circumstances}}</td>
                </tr>
                <tr>
                    <td><b>Место просишествия:</B></td>
                    <td>{{::case.whereabouts}}</td>
                </tr>
                <tr>
                    <td><b>Время происшествия:</b></td>
                    <td>{{::case.incidentDate | date:'dd.MM.yyyy'}}</td>
                </tr>
            </table>

            <display-attachments attachments="case.attachments"></display-attachments>

        </div>
    </div>
</div>
