﻿<div class="row">

    <div class="col-sm-offset-2 col-sm-8" ng-controller="CaseDetailsController as controller">

        <insurance-case-notice case="controller.case"></insurance-case-notice>

        <additional-information informations="controller.informations"></additional-information>

        <information-correction corrections="controller.corrections"></information-correction>

        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-large btn-info" ng-click="controller.validate()" ng-disabled="!controller.allowActions()">Рассмотреть</button>
                <button type="submit" class="btn btn-large btn-info" ng-click="controller.requestCorrection()" ng-disabled="!controller.allowActions()">Запросить дополнительную информацию</button>
            </div>
        </div>

    </div>
</div>
