﻿<div class="attachments">

    <div class="form-group">

        <div ngf-drop="addAttachment($files)"
             ngf-select="addAttachment($files)"
             class="drop-box"
             ngf-drag-over-class="'dragover'"
             ngf-allow-dir="true"
             ngf-multiple="true"
             accept="application/pdf"
             ngf-pattern="'application/pdf'">
            Перетащите сюда пояснительные документы, если есть, или кликните сюда (можно только PDF)
        </div>

    </div>

    <div ng-hide="attachments.length">
        <h4>Пока файлов нет...</h4>
    </div>

    <div ng-show="attachments.length">
        <h4>Уже прикреплено:</h4>
        <ul class="list-group files">
            <li class="list-group-item file" ng-repeat="file in attachments">
                {{file.name}}
                <button type="button" class="btn btn-default" ng-click="removeAttachment(file)">Убрать</button>
                <div></div>
                <div>
                    <textarea class="form-control" ng-model="file.description" placeholder="Опишите {{file.name}}"></textarea>
                </div>
            </li>
        </ul>
    </div>

</div>
