﻿.attachments .drop-box {
    background: #F8F8F8;
    border-style: dashed;
    border-width: 5px;
    border-color: #DDD;
    width: 200px;
    height: 150px;
    text-align: center;
    padding-top: 25px;
    margin: 10px;
    cursor: pointer;
}

.attachments .dragover {
    border-color: blue;
}

.attachments .files .file {
        word-wrap: break-word;
}
