﻿<div class="attachments">

    <div ng-hide="attachments.length">
        <h4>Файлов не прикреплено...</h4>
    </div>

    <div ng-show="attachments.length">
        <h4>Прикреплённые файлы:</h4>
        <ul class="list-group files">
            <li class="list-group-item file" ng-repeat="file in attachments">
                <p>
                    <b>Описание:</b>
                    {{::file.description}}
                </p>
                <a href="api/attachment/{{::file.id}}" target="_blank">
                    Нажмите сюда, чтобы просмотреть файл
                </a>
            </li> 
        </ul>
    </div>

</div>
