﻿<div class="row">
    <div class="col-sm-offset-2 col-sm-6" ng-controller="ApplicationsController as controller">

        <div ng-hide="controller.applications.length">
            <h4>
                Нет заявлений, которые нужно проверить!
            </h4>
        </div>


        <div ng-if="controller.applications.length">

            <h3> Заявления для проверки</h3>

            <ul class="list-group applications">

                <li class="list-group-item application" ng-repeat="application in controller.applications">
                    <div class="row">
                        <div class="col-lg-4">
                            <strong>
                                {{::application.applicant.firstName}}
                                {{::application.applicant.middleName}}
                                {{::application.applicant.lastName}}
                            </strong>
                        </div>
                        <div class="col-lg-3 col-lg-offset-5">
                            <button type="button"
                                    class="btn btn-primary"
                                    ng-click="controller.goToDetails(application)">
                                Просмотреть
                            </button>
                        </div>
                    </div>
                    
                </li>

            </ul>

        </div>

    </div>
</div>