﻿@using PagedList.Mvc
@model PagedList.PagedList<Presentation.Models.Admin.UserProfile>

<div class="h2">
    Администратор
</div>
<table class="table table-bordered table-condensed table-striped table-responsive">
    <tr>
        <th>Почта</th>
        <th>Роль</th>
    </tr>
    @foreach (var m in Model)
    {
        <tr>
            <td>
                @Html.ActionLink(m.Email, "UserProfile", new RouteValueDictionary(new
                {
                    email = m.Email
                }), null)
            </td>
            <td>
                @m.Role
            </td>
        </tr>
    }
</table>
<div class="col-lg-12">
    <div class="center">
        @Html.PagedListPager(Model, page => Url.Action("Users", new
        {
            page,
            pageSize = Model.PageSize
        }))
        @Model.FirstItemOnPage - @Model.LastItemOnPage из @Model.TotalItemCount
    </div>
</div>

