﻿@using Microsoft.AspNet.Identity
@model Presentation.Models.Admin.UserProfile

@{
    const int minutesInDay = 1440;
    const string editingOwnAccount = "Нельзя трогать свой профиль.";
}

<h2>
    Профиль @Model.Email
</h2>
<div class="col-lg-4 panel-body">
    @if (Model.Email != User.Identity.GetUserName())
    {
        using (Html.BeginForm("SaveUserProfile", "Admin", FormMethod.Post))
        {
            <div class="form-group col-lg-12">
                @Html.LabelFor(model => model.Email, new
                {
                    @class = "control-label"
                })
                @Html.TextBoxFor(m => m.Email, new
                {
                    @class = "form-control",
                    @readonly = "readonly"
                })
            </div>
            <div class="form-group col-lg-12">
                <label class="control-label">Роль</label>
            </div>
            <div class="form-group col-lg-4">
                <label class="control-label">
                    @Html.RadioButtonFor(model => model.Role, Common.Constants.AdminRoleName)
                    Администратор
                </label>
            </div>
            <div class="form-group col-lg-4">
                <label class="control-label">
                    @Html.RadioButtonFor(model => model.Role, Common.Constants.UnderwriterRoleName)
                    Андеррайтер
                </label>
            </div>
            <div class="form-group col-lg-4">
                <label class="control-label">
                    @Html.RadioButtonFor(model => model.Role, Common.Constants.SecretaryRoleName)
                    Помощник андеррайтера
                </label>
            </div>
            <div class="form-group col-lg-4">
                <label class="control-label">
                    @Html.RadioButtonFor(model => model.Role, Common.Constants.ClientRoleName)
                    Клиент
                </label>
            </div>
            <div class="form-group col-lg-12">
                @Html.LabelFor(model => model.LockoutDuration, new
                {
                    @class = "control-label"
                })
                @Html.TextBoxFor(model => model.LockoutDuration, new
                {
                    @class = "form-control",
                    @type = "number",
                    @title = (double) Model.LockoutDuration / minutesInDay + " дней"
                })
            </div>
            <div class="form-group col-lg-12">
                <label class="control-label">Удалить аккаунт</label>
            </div>
            <div class="form-group col-lg-4">
                <label class="control-label">
                    @Html.RadioButtonFor(model => model.ShouldDelete, true)
                    Да
                </label>
            </div>
            <div class="form-group col-lg-4">
                <label class="control-label">
                    @Html.RadioButtonFor(model => model.ShouldDelete, false)
                    Нет
                </label>
            </div>
            <div class="clear"></div>
            <div class="form-group col-lg-12">
                <input type="submit" value="Сохранить" class="btn btn-default btn-block"/>
            </div>
        }
    }
    else
    {
        @editingOwnAccount
    }
</div>
