﻿<div class="row">

    <div class="col-sm-offset-2 col-sm-8" ng-controller="ApplicationDetailsController as controller">

        <application application="controller.application"></application>

        <information-correction corrections="controller.corrections"></information-correction>

        <additional-information informations="controller.informations"></additional-information>

    </div>
</div>
