﻿<div ng-if="corrections.some(hasNoResponse)">
    <h3> Не отвеченные клиентом:</h3>
    <ul class="list-group">
        <li class="list-group-item" ng-repeat="correction in corrections.filter(hasNoResponse)">
            Запрос от {{::correction.requestDate | date:'dd.MM.yyyy'}}
            <p>
                {{::correction.request}}
            </p>
        </li>
    </ul>
</div>

<div ng-if="corrections.some(hasResponse)">
    <h3> Отвеченные клиентом:</h3>
    <ul class="list-group">
        <li class="list-group-item" ng-repeat="correction in corrections.filter(hasResponse)">
            Запрос от
            {{::correction.requestDate | date:'dd.MM.yyyy'}}
            <p>
                {{::correction.request}}
            </p>
            Ответ от
            {{::correction.responseDate | date:'dd.MM.yyyy'}}
            <p>
                {{::correction.response}}
            </p>
        </li>
    </ul>
</div>

