﻿<nav class="navbar navbar-default">

    <div class="container-fluid">

        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#wild-strakh-navbar" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>

        <div class="collapse navbar-collapse" id="wild-strakh-navbar" ng-controller="NavbarController as navbar">
            <h4 class="navbar-text">Wild Strakh Online Insurance</h4>
            <ul class="nav navbar-nav">
                <li ng-repeat="item in navbar.menu" ng-class="{active: navbar.isStateActive(item.stateName)}">
                    <a ui-sref="{{ item.stateName }}">
                        {{ item.name }}
                    </a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li uib-dropdown on-toggle="toggled(open)">
                    <a href="#" id="manage-dropdown" uib-dropdown-toggle>
                        {{::navbar.username}}
                    </a>
                    <ul uib-dropdown-menu aria-labelledby="manage-dropdown">
                        <li>
                            <a href="/Account/Manage">
                                Управление
                            </a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="/Account/Logout/">
                        Выйти
                    </a>
                </li>
            </ul>
        </div>

    </div>

</nav>