﻿<div class="row">

    <div class="col-sm-offset-2 col-sm-8" ng-controller="TerminationDetailsController as controller">

        <termination-application termination="controller.termination"></termination-application>

        <information-correction corrections="controller.corrections"></information-correction>

        <additional-information informations="controller.informations"></additional-information>

        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-large btn-info" ng-click="controller.validate()" ng-disabled="!controller.allowActions()">Одобрить</button>
                <button type="submit" class="btn btn-large btn-info" ng-click="controller.reject()" ng-disabled="!controller.allowActions()">Отказать</button>
                <button type="submit" class="btn btn-large btn-info" ng-click="controller.requestCorrection()" ng-disabled="!controller.allowActions()">Запросить доп. информацию</button>
            </div>
        </div>

    </div>
</div>
