﻿<div class="row">
    <div class="col-sm-12" ng-controller="SelectContractController as controller">
        <div>
            <h4>
                Нужно выбрать договор.
            </h4>
        </div>
        <div ng-if="!controller.contracts.filter(controller.isContractActive).length">
            <h4>
                А договоров нет! Поэтому вам сперва нужно
                <button type="button" class="btn btn-primary" ui-sref="app.apply">Заключить договор</button>
            </h4>
        </div>
        <div ng-if="controller.contracts.filter(controller.isContractActive).length === 1">
            <h4>
                А нет, не нужно: у вас он всего один!
            </h4>
        </div>
        <div ng-if="controller.contracts.filter(controller.isContractActive).length > 1">
            <ul class="list-group">
                <li class="list-group-item" ng-repeat="contract in controller.contracts | filter:{isActive:true}">
                    <strong>{{::contract.person.lastName}} {{::contract.person.firstName}} {{::contract.person.middleName}}</strong>
                    <strong> {{::contract.startDate | date:'dd.MM.yyyy'}} - {{::contract.endDate | date:'dd.MM.yyyy'}} </strong>
                    <span class="label label-info">{{::contract.premium}} бел. руб.</span>
                    <button type="button"
                            class="btn btn-primary btn-xs"
                            ng-click="controller.notify(contract)">
                        Известить по этому договору
                    </button>
                </li>
            </ul>
        </div>
    </div>
</div>