﻿<div class="row">
    <div class="col-sm-offset-2 col-sm-6" ng-controller="CasesController as controller">

        <div ng-hide="controller.cases.length">
            <h4>
                Нет уведомлений, которые нужно проверить!
            </h4>
        </div>


        <div ng-if="controller.cases.length">

            <h3> Уведомления для проверки</h3>

            <ul class="list-group cases">

                <li class="list-group-item case" ng-repeat="case in controller.cases">
                    <div class="row">
                        <div class="col-lg-4">
                            От
                            <a ng-href="/">
                                <strong>
                                    {{::case.contract.person.firstName}}
                                    {{::case.contract.person.middleName}}
                                    {{::case.contract.person.lastName}}
                                </strong>
                            </a>
                        </div>
                        <div class="col-lg-3 col-lg-offset-5">
                            <button type="button"
                                    class="btn btn-primary"
                                    ng-click="controller.goToDetails(case)">
                                Просмотреть
                            </button>
                        </div>
                    </div>
                    
                </li>

            </ul>

        </div>

    </div>
</div>