﻿<div class="row">
    <div class="col-sm-12"  ng-controller="ContractsController as controller">

        <div ng-hide="controller.contracts.length">
            <h4>
               Нету заключенных договоров!
                <button type="button" class="btn btn-primary" ui-sref="app.apply">Заключить</button>
            </h4>
        </div>
       

        <div ng-if="controller.contracts.length">

            <h3> Мои договоры</h3>

            <ul class="list-group contracts">

                <li class="list-group-item contract" ng-repeat="contract in controller.contracts">

                    <contract-status status="{{::contract.status.id}}"></contract-status>

                    <strong>{{::contract.person.firstName}} {{::contract.person.lastName}}</strong>

                    <strong> {{::controller.formatDate(contract.startDate)}} - {{::controller.formatDate(contract.endDate)}} </strong>

                    <h3 class="contract-sum">
                        <span class="label label-info">{{::contract.amount}} бел. руб.</span>
                    </h3>

                    <button ng-if="controller.isActive(contract)" type="button" class="btn btn-primary" ng-click="controller.notify(contract)">
                        Известить
                    </button>

                    <button type="button" class="btn btn-warning" ng-click="controller.cancel(contract)" ng-if="controller.isActive(contract)">
                        Запросить расторжение
                    </button>

                    <button type="button" class="btn btn-info" ng-click="controller.pay(contract)" ng-if="controller.isPendingPayment(contract)">
                        Принять и оплатить
                    </button>
                </li>

            </ul>

        </div>

    </div>
</div>