﻿@model Mail.Models.Email

@{
    Layout = "Mail.Layouts.Template.cshtml";
}

@switch (@Model.Status)
{
    case DocumentStatus.PendingValidation:
        <text>
            Ваше заявление о страховании успешно принято и ожидает проверки.
            По окончании проверки вы будете уведомлены письмом на этот почтовый ящик.
        </text>
        ;
        break;
    case DocumentStatus.Validated:
        <text>
            Ваше заявление о страховании успешно прошло проверку и ожидает рассмотрения
            специалиста. По окончании рассмотрения, Ваше заявление либо будет отклонено,
            либо Вам будет предложен договор о страховании, который Вы, в свою очередь,
            должны будете подписать.
        </text>
        ;
        break;
    case DocumentStatus.PendingCorrections:
        <text>
            При проверке Вашего заявления о страховании у специалиста возникли
            некоторые вопросы. Пожалуйста, пройдите по <a href="@Model.Link">ссылке </a> для
            уточнения предоставленных Вами данных.
        </text>
        ;
        break;
    case DocumentStatus.PendingAdditionalInformation:
        <text>
            При рассмотрении Вашего заявления, мы проанализировали предоставленную Вами
            информацию, и решили, что мы не можем принять решения относительно заключения с
            Вами договора о страховании на только основываясь на данных, предоставленных Вами.
            Просим Вас перейти по <a href="@Model.Link">ссылке </a> и предоставить
            дополнительную информацию и документы.
        </text>
        ;
        break;
    case DocumentStatus.Rejected:
        <text>
            К сожалению, вынуждены Вам сообщить, что наша компания не готова заключить с Вами
            договор о страховании на основании данных, предоставленных Вами. Приносим Вам свои
            извинения за возможные неудобства.
        </text>
        ;
        break;
    case DocumentStatus.Approved:
        <text>
            Наши специалисты, рассмотрев предоставленные Вами данные, разработали договор о
            страховании индивидуально для Вас. Для того, чтобы ознокомится с условиями договора о
            страховании, пожалуйста, пройдите по <a href="@Model.Link">ссылке </a>. Для подписания
            договора или отказа от него, следуйте инструкциям на сайте.
        </text>
        ;
        break;
    default:
        <text>
        </text>
        ;
        break;
}

@section theme {
    switch (@Model.Status)
    {
    case DocumentStatus.PendingValidation:
    <text> заявление о страховании принято</text>;
    break;
    case DocumentStatus.Validated:
    <text> заявление о страховании успешно проверено</text>;
    break;
    case DocumentStatus.PendingCorrections:
    <text> необходимо внести изменеия в заявление о страховании</text>;
    break;
    case DocumentStatus.PendingAdditionalInformation:
    <text> необходимо предоставить дополнительную информацию</text>;
    break;
    case DocumentStatus.Rejected:
    <text> заявление о страховании отклонено</text>;
    break;
    case DocumentStatus.Approved:
    <text> договор о страховании</text>;
    break;
    default:
    <text></text>;
    break;
    }
}
