﻿@model Mail.Models.Email

@{
    Layout = "Mail.Layouts.Template.cshtml";
}

@switch (@Model.Status)
{
    case DocumentStatus.PendingValidation:
        <text>
            Ваше извещение о страховом случае успешно принято. После проверки извещения
            нашим специалистом Вы получите соответствующее уведомление.
        </text>
        ;
        break;
    case DocumentStatus.Validated:
        <text>
            Ваше извещение о страховом случае успешно проверено. Далее наш специалист
            проверит ваше извещение и примет решение относительно него.
        </text>
        ;
        break;
    case DocumentStatus.PendingCorrections:
        <text>
            При проверке Вашего извещения о страховом случае у специалиста возникли
            некоторые вопросы. Пожалуйста, пройдите по <a href="@Model.Link">ссылке </a>
            для уточнения предоставленных Вами данных.
        </text>
        ;
        break;
    case DocumentStatus.PendingAdditionalInformation:
        <text>
            При рассмотрении Вашего извещения о страховом случае, мы проанализировали
            предоставленную Вами информацию, и приняли решение, что информации, предоставленной
            Вами, недостаточно. Просим Вас перейти по <a href="@Model.Link">ссылке </a> и
            предоставить дополнительную информацию и документы.
        </text>
        ;
        break;
    case DocumentStatus.Rejected:
        <text>
            К сожалению, вынуждены Вам сообщить, что Ваш страховой случай, описанный в извещении
            о страховом случае, не является страховым случаем в соответствии с договором,
            заключенным между Вами и нашей компанией. В связи с этим, мы не признаем данное
            происшествие страховым случаем и отказываемся выплатить вам страховую сумму.
        </text>
        ;
        break;
    case DocumentStatus.Approved:
        <text>
            Наши специалисты, рассмотрев предоставленное Вами извещение о страховом случае,
            подтвердили наступление страхового случая в соответствии с договором, подписанным
            между Вами и нашей компанией. Для зачисления страховой суммы на Ваш банковский счет,
            зайдите в свой личный кабинет на сайте компании и сформируйте запрос на выплату
            страховой суммы.
        </text>
        ;
        break;
    default:
        <text>
        </text>
        ;
        break;
}

@section theme {
    switch (@Model.Status)
    {
    case DocumentStatus.PendingValidation :
    <text> извещение о страховом случае принято</text>;
    break;
    case DocumentStatus.Validated :
    <text> извещение о страховом случае успешно проверено </text>;
    break;
    case DocumentStatus.PendingCorrections :
    <text> необходимо внести изменеия в извещение о страховом случае</text>;
    break;
    case DocumentStatus.PendingAdditionalInformation :
    <text> необходимо предоставить дополнительную информацию </text>;
    break;
    case DocumentStatus.Rejected :
    <text> страховой случай не подтвержден </text>;
    break;
    case DocumentStatus.Approved :
    <text> страховой случай одобрен </text>;
    break;
    default:
    <text></text>;
    break;
    }
}

