﻿@model Mail.Models.Mail

<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta charset="utf-8"/>
        <title>WildStrakh: регистрация</title>
    </head>
    <body>
        <p>
            Здравствуйте, @Model.UserName !
        </p>
        <p>
            Благодарим Вас за регистрацию на сайте страховой компании WildStrakh! Для
            подтверждения регистрации Вам необходимо перейти по этой
            <a href="@Model.Link"> ссылке</a>.
        </p>
        <p>
            Если адрес Вашей электронной почты указан ошибочно, и Вы не регистрировались на
            сайте страховой компании WildStrakh,
            просто проигнорируйте данное сообщение.
        </p>
        <p>
            Это письмо сгенерировано автоматически, пожалуйста, не отвечайте на данное письмо
        </p>
        <p>
            С уважением, страховая компания WildStrakh
        </p>
    </body>
</html>
