﻿@model Mail.Models.Mail

<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta charset="utf-8"/>
        <title>WildStrakh: выплата страхового вознаграждения</title>
    </head>
    <body>
        <p>
            Здравствуйте, @Model.UserName !
        </p>
        <p>
            Благодарим Вас за оплату страхового вознаграждения. Надеемся, что Вы довольны
            услугами, предоставляемыми нашей компании!
        </p>
        <p>
            Это письмо сгенерировано автоматически, пожалуйста, не отвечайте на данное письмо
        </p>
        <p>
            С уважением, страховая компания WildStrakh
        </p>
    </body>
</html>