﻿@model Mail.Models.Mail

<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta charset="utf-8"/>
        <title>WildStrakh: @RenderSection("theme") </title>
    </head>
    <body>
        <p>
            Здравствуйте, @Model.UserName !
        </p>
        <p>
            @RenderBody()
        </p>
        <p>
            Благодарим за выбор нашей страховой компании!
        </p>
        <p>
            Это письмо сгенерировано автоматически, пожалуйста, не отвечайте на данное письмо
        </p>
        <p>С уважением, страховая компания WildStrakh</p>
    </body>
</html>
