﻿@model Mail.Models.Email

@{
    Layout = "Mail.Layouts.Template.cshtml";
}

@switch (@Model.Status)
{
    case DocumentStatus.PendingValidation:
        <text>
            Ваше заявление о прекращении действия договора о страховании успешно принято.
            После проверки заявления нашим специалистом Вы получите соответствующее уведомление.
        </text>
        ;
        break;
    case DocumentStatus.Validated:
        <text>
            Ваше заявление о прекращении действия договора о страховании успешно проверено.
            Далее наш специалист проверит ваше заявление и примет решение относительно него.
        </text>
        ;
        break;
    case DocumentStatus.PendingCorrections:
        <text>
            При проверке Вашего заявление о прекращении действия договора о страховании у
            специалиста возникли некоторые вопросы. Пожалуйста, пройдите по
            <a href="@Model.Link">ссылке </a> для уточнения предоставленных Вами данных.
        </text>
        ;
        break;
    case DocumentStatus.PendingAdditionalInformation:
        <text>
            При рассмотрении Вашего заявление о прекращении действия договора о страховании,
            мы проанализировали предоставленную Вами информацию, и приняли решение, что информации,
            предоставленной Вами, недостаточно. Просим Вас перейти по
            <a href="@Model.Link">ссылке </a> и предоставить дополнительную информацию и документы.
        </text>
        ;
        break;
    case DocumentStatus.Rejected:
        <text>
            К сожалению, вынуждены Вам сообщить, что Ваше заявление о прекращении действия договора
            о страховании отклонено.
        </text>
        ;
        break;
    case DocumentStatus.Approved:
        <text>
            Наши специалисты, рассмотрев предоставленное Вами заявление о прекращении действия
            договора о страховании, согласились с предоставленными Вами условиями расторжения.
            С этого момента договор о страховании считается недействительным, соответствующая
            денежная компенсация будет перечислена на Ваш банковский счет.
        </text>
        ;
        break;
    default:
        <text>
        </text>
        ;
        break;
}

@section theme {
    switch (@Model.Status)
    {
    case DocumentStatus.PendingValidation :
    <text> заявление о прекращении действия договора о страховании принято</text>;
    break;
    case DocumentStatus.Validated :
    <text> заявление о прекращении действия договора о страховании успешно проверено</text>;
    break;
    case DocumentStatus.PendingCorrections :
    <text> необходимо внести изменеия в заявление о прекращении действия договора о страховании</text>;
    break;
    case DocumentStatus.PendingAdditionalInformation :
    <text> необходимо предоставить дополнительную информацию</text>;
    break;
    case DocumentStatus.Rejected :
    <text> заявление о прекращении действия договора о страховании отклонено</text>;
    break;
    case DocumentStatus.Approved :
    <text> заявление о прекращении действия договора о страховании одобрено</text>;
    break;
    default:
    <text></text>;
    break;
    }
}
