﻿<div class="panel panel-default cancel-contract" ng-controller="ApproveCaseController as controller">
    <div class="panel-heading">
        <b>ОДОБРИТЬ ИЛИ ОТКАЗАТЬ</b>
        <button type="button" class="btn btn-warning btn-xs pull-right" ng-click="controller.cancel()">ОТМЕНИТЬ</button>
    </div>
    <div class="panel-body">

        <form class="form-horizontal col-sm-offset-2 col-sm-8"
            ng-submit="controller.approve()">

            <fieldset>

                <div class="row">

                    <div class="form-group">
                        <label class="col-sm-2"> Сколько заплатим? </label>
                        <div class="col-sm-10">
                            <div class="col-sm-10">
                                <div class="input-group">
                                    <input class="form-control" type="number" min="0" required ng-model="controller.amount" placeholder="42" />
                                    <span class="input-group-addon">бел. руб.</span>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </fieldset>

            <button type="submit" class="btn btn-default" ng-disabled="controller.disableApproval()">Одобрить</button>
            <button type="button" class="btn btn-danger" ng-click="controller.reject()">Отказать</button>
        </form>
    </div>
</div>
