﻿<div class="row">
    <div class="col-sm-12" ng-controller="ApplicationsController as controller">

        <div ng-hide="controller.applications.length">
            <h4>
                У вас еще нет заявлений!
            </h4>
        </div>

        <div ng-if="controller.applications.length">

            <h3> Ваши заявления</h3>

            <ul class="list-group applications">

                <li class="list-group-item application" ng-repeat="application in controller.applications">
                    <document-status status="{{::application.status.id}}"></document-status>
                    <strong>{{::application.applicant.firstName}} {{::application.applicant.lastName}}</strong>
                    <button type="button"
                            class="btn btn-info"
                            ng-click="controller.goToDetails(application)">
                        Детали
                    </button>
                    <button type="button"
                            class="btn btn-primary"
                            ng-if="controller.needToPay(application)"
                            ng-click="controller.pay(application)">
                        Рассмотреть предложенный контракт
                    </button>
                    <button type="button"
                            class="btn btn-warning"
                            ng-if="controller.needToCorrect(application)"
                            ng-click="controller.correct(application)">
                        Исправить
                    </button>
                    <button type="button"
                            class="btn btn-warning"
                            ng-if="controller.needToAdd(application)"
                            ng-click="controller.add(application)">
                        Ответить
                    </button>

                </li>

            </ul>

        </div>

    </div>
</div>