﻿<div class="panel panel-default cancel-contract" ng-controller="SatisfyController as controller">
    <div class="panel-heading">
        <b>ОТВЕТ НА ЗАПРОС О ДОПОЛНИТЕЛЬНОЙ ИНФОРМАЦИИ</b>
        <button type="button" class="btn btn-warning btn-xs pull-right" ng-click="controller.cancel()">ОТМЕНИТЬ</button>
    </div>
    <div class="panel-body">

        <form class="form-horizontal col-sm-offset-1 col-sm-10"
              ng-submit="controller.submit()">

            <fieldset>

                <legend> Нам необходимо узнать следующее... </legend>

                <div class="row">

                    <div class="form-group">
                        <label class="col-sm-2"> Ответьте на этот вопрос: </label>
                        <div class="col-sm-10">
                            <div class="alert alert-info">
                                {{::controller.request.request}}
                            </div>
                        </div>
                    </div>

                </div>

                <div class="row">

                    <div class="col-sm-6">

                        <div class="form-group">
                            <label class="col-sm-2"> Сюда текст: </label>
                            <div class="col-sm-10">
                                <textarea class="form-control" ng-model="controller.content" placeholder="Подробно, пожалуйста" required></textarea>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-sm-offset-3">
                                <button type="submit" class="btn btn-large btn-info">Отослать ответ</button>
                            </div>
                        </div>

                    </div>

                    <div class="col-sm-6">

                        <b> А сюда можно файлы:</b>
                        <attachments attachments="controller.attachments"></attachments>

                    </div>

                </div>
            </fieldset>

        </form>
    </div>
</div>
