﻿<div class="row">
    <div class="col-sm-12">

        <form class="form-horizontal"
              name="applyForm"
            ng-controller="InsuranceApplicationController as controller"
              ng-submit="controller.submit()">

            <div class="row">

                <div class="col-sm-4">

                    <fieldset>
                        <legend> Страховая информация </legend>

                        <div class="form-group">
                            <label class="col-sm-3"> Вид страхования</label>
                            <div class="col-sm-9">
                                <enum-dropdown enum="controller.InsuranceType" value="controller.insuranceType">
                                </enum-dropdown>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3"> Желаемая сумма </label>
                            <div class="col-sm-9">
                                <div class="input-group">
                                    <input type="number"
                                           class="form-control"
                                           placeholder="200000"
                                           ng-model="controller.sum"
                                           min="0"
                                           step="100"
                                           required />
                                    <span class="input-group-addon">бел. руб.</span>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3"> Порядок оплаты </label>
                            <div class="col-sm-9">
                                <enum-dropdown enum="controller.PaymentOrder" value="controller.paymentOrder">
                                </enum-dropdown>
                            </div>
                        </div>

                    </fieldset>

                    <customer-address address="controller.address"></customer-address>

                    <customer-illness illnesses="controller.illnesses"></customer-illness>

                </div>

                <div class="col-sm-4">

                    <fieldset>

                        <legend>Страхуемый</legend>

                        <personal-information info="controller.applicant"></personal-information>

                        <div class="form-group">
                            <label class="col-sm-3"> Род занятий </label>
                            <div class="col-sm-9">
                                <enum-dropdown enum="controller.Occupation" value="controller.occupation">
                                </enum-dropdown>
                            </div>
                        </div>

                        <div class="form-group" ng-if="controller.isOtherOccupation()">
                            <label class="col-sm-3"> Опишите </label>
                            <div class="col-sm-9">
                                <input class="form-control" type="text" ng-model="controller.occupationDetails" required/>
                            </div>
                        </div>

                        <div class="checkbox" ng-if="!controller.isLifeInsurance()">
                            <label>
                                <input type="checkbox"
                                       ng-model="controller.isBeneficiary"/>
                                Я бенефициар
                            </label>
                        </div>

                    </fieldset>

                </div>

                <div class="col=sm-4">
                    <fieldset ng-if="!controller.isBeneficiary || controller.isLifeInsurance()">
                        <legend>Бенефициар</legend>
                        <personal-information info="controller.beneficiary"></personal-information>
                    </fieldset>
                </div>

            </div>

            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-large btn-info">Подать Заявление</button>
                </div>
            </div>

        </form>
    </div>
</div>