﻿<div class="form-group">
    <label class="col-sm-3">Фамилия</label>
    <div class="col-sm-9">
        <input type="text"
               class="form-control"
               placeholder="Поликарпов"
               ng-model="info.lastName"
               required />
    </div>
</div>

<div class="form-group">
    <label class="col-sm-3">Имя</label>
    <div class="col-sm-9">
        <input type="text"
               class="form-control"
               placeholder="Поликарп"
               ng-model="info.firstName"
               required />
    </div>
</div>

<div class="form-group">
    <label class="col-sm-3">Отчество</label>
    <div class="col-sm-9">
        <input type="text"
            class="form-control"
            placeholder="Поликарпович"
            ng-model="info.middleName"
            required/>
    </div>
</div>

<div class="form-group">
    <label class="col-sm-3">ДР</label>
    <div class="col-sm-9">
        <input type="text"
            class="form-control"
            uib-datepicker-popup
            date-validator
            ng-model="info.dateOfBirth"
            max-date="controller.maxBirthDate"
            min-date="controller.minBirthDate"
            open-on-click
            required
            placeholder="2016-01-04"
            close-text="Закрыть"/>
    </div>
</div>

<div class="form-group">
    <label class="col-sm-3">Серия паспорта</label>
    <div class="col-sm-9">
        <input type="text"
               placeholder="MP"
               class="form-control"
               ng-model="info.passport.series"
               typeahead-select-on-exact="true"
               uib-typeahead="series.value as series.name for series in controller.passportSeries | filter:{name:$viewValue}"
               required
               pattern=".{2,2}" />
    </div>
</div>

<div class="form-group">
    <label class="col-sm-3">Номер паспорта</label>
    <div class="col-sm-9">
        <input type="text"
               class="form-control"
               placeholder="1234567"
               ng-model="info.passport.number"
               required
               pattern=".{7,7}" />
    </div>
</div>

<div class="form-group">
    <label class="col-sm-3"> Личный номер</label>
    <div class="col-sm-9">
        <input type="text"
               class="form-control"
               placeholder="12345671234567"
               ng-model="info.passport.identificationNumber"
               required
               pattern=".{14,14}" />
    </div>
</div>
