﻿<div class="panel panel-default cancel-contract" ng-controller="AcceptController as controller">
    <div class="panel-heading">
        <b>ПРИНЯТИЕ ДОГОВОРА</b>
        <button type="button" class="btn btn-warning btn-xs pull-right" ng-click="controller.cancel()">Вернуться назад</button>
    </div>
    <div class="panel-body">

        <form class="form-horizontal col-sm-offset-1 col-sm-10" ng-submit="controller.submit()" name="cardForm">

            <h3> Ваше заявление было одобрено! Вам нужно оплатить первый взнос.</h3>

            <h4>
                <a ng-href="/pdf/getcontract/{{::controller.id}}" target="_blank"> Здесь можно ознакомиться с договором.</a>
            </h4>

			<p> <span class="label label-warning">Внимание!</span> Мы принимаем Visa, MasterCard и American Express!</p>
			
            <fieldset>

                <legend> Форма оплаты</legend>

                <div class="row">

                    <div class="col-sm-10">

                        <div class="form-group">
                            <label class="col-sm-4"> Имя владельца: </label>
                            <div class="col-sm-8">
                                <input class="form-control" type="text" ng-model="controller.card.holderName" name="holderName" required placeholder="Кое Кто" />
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-4"> Номер карты: </label>
                            <div class="col-sm-8">
                                <input class="form-control" type="text" ng-model="controller.card.number" name="cardNumber" cc-number required placeholder="1111111111111111" />
                            </div>
                        </div>
                        <p ng-show="cardForm.cardNumber.$valid">
                            Номер верен, это {{cardForm.cardNumber.$ccType}}!
                        </p>
                        <p ng-show="cardForm.cardNumber.$invalid && cardForm.cardNumber.$touched">
                            Номер не верен!
                        </p>

                        <div class="form-group">
                            <label class="col-sm-4"> CVC: </label>
                            <div class="col-sm-8">
                                <input class="form-control"
                                       type="text"
                                       ng-model="controller.card.cvc"
                                       name="cvc"
                                       cc-cvc
                                       cc-type="cardForm.cardNumber.$ccType"
                                       required
                                       placeholder="111" />
                            </div>
                        </div>
                        <p ng-show="cardForm.cvc.$invalid && cardForm.cvc.$touched">
                            CVC не верен!
                        </p>

                        <div>
                            <div class="form-group">
                                <label class="col-sm-4"> Месяц: </label>
                                <div class="col-sm-4" cc-exp>
                                    <input type="text"
                                        class="form-control"
                                        ng-model="controller.card.month"
                                        name="month"
                                        cc-exp-month
                                        required
                                        placeholder="MM"/>
                                </div>
                            </div>
                            <p ng-show="cardForm.month.$invalid && cardForm.month.$touched">
                                Месяц должен быть в промежутке 1-12
                            </p>
                            <div class="form-group">
                                <label class="col-sm-4"> Год: </label>
                                <div class="col-sm-4" cc-exp>
                                    <input type="text" class="form-control" ng-model="controller.card.year" name="year" cc-exp-year required full-year placeholder="ГГГГ" minlength="4"/>
                                </div>
                            </div>
                            <p ng-show="cardForm.year.$invalid && cardForm.year.$touched">
                                Год дожлен быть >= 2016
                            </p>
                        </div>

                        <div class="form-group">
                            <button type="submit"
                                class="btn btn-large btn-info"
                                    ng-disabled="(cardForm.year.$invalid && cardForm.year.$touched) || (cardForm.month.$invalid && cardForm.month.$touched) || (cardForm.cvc.$invalid && cardForm.cvc.$touched) || (cardForm.number.$invalid && cardForm.number.$touched)"
                                    >Оплатить и принять контракт</button>
                            <button type="button" class="btn btn-danger" ng-click="controller.reject()">ОТКАЗАТЬ</button>
                        </div>

                    </div>

                </div>

            </fieldset>

        </form>
    </div>
</div>
