﻿<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Онлайн Страхование</title>
        @Styles.Render("~/styles")
    </head>
    <body>
        <div class="navbar navbar-inverse navbar-static-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    @Html.ActionLink("Онлайн Страхование", "Index", "Home", new
                    {
                        area = ""
                    }, new
                    {
                        @class = "navbar-brand"
                    })
                </div>
                <div class="navbar-collapse collapse">
                    @Html.Partial("_LoginPartial")
                </div>
            </div>
        </div>
        <div class="container body-content">
            @RenderBody()
            <footer class="col-lg-12">
                <hr />
                <p>&copy; @DateTime.Now.Year - WildStrakh</p>
            </footer>
        </div>
        @RenderSection("scripts", false)
    </body>
</html>
