﻿@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("Logout", "Account", FormMethod.Post, new
    {
        id = "logoutForm",
        @class = "navbar-right"
    }))
    {
        @Html.AntiForgeryToken()
        <ul class="nav navbar-nav navbar-right">
            <li>
                @(!User.IsInRole(Common.Constants.AdminRoleName)
                    ? Html.ActionLink(User.Identity.GetUserName(), "Index", "App")
                    : Html.ActionLink(User.Identity.GetUserName(), "Manage", "Account"))
            </li>
            <li>
                <a href="javascript:document.getElementById('logoutForm').submit()">Выйти</a>
            </li>
        </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>
            @Html.ActionLink("Регистрация", "Register", "Account", null, new
            {
                id = "registerLink"
            })
        </li>
        <li>
            @Html.ActionLink("Вход", "Login", "Account", null, new
            {
                id = "loginLink"
            })
        </li>
    </ul>
}
