﻿@model Business.ViewModels.ContractPdf

@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <title>Договор страхования здоровья и жизни</title>
</head>
<body>
@{
    var months = (@Model.Contract.EndDate.Year - @Model.Contract.StartDate.Year) * 12 + (@Model.Contract.EndDate.Month - @Model.Contract.StartDate.Month);
}
<div align="center"> <b>
    <h2>
        Договор № @Model.Contract.Id страхования жизни и здоровья
        </h2> </b>
</div>
<h4 align="right">
    @DateTime.Now
</h4>
<div align="justify"> <b>
    Страховая компания "УайлдСтрах", лицензия No. 170294, выданная Министерством финансов
    Республики Беларусь, именуемая в дальнейшем "Страховщик", с одной стороны,
    и @Model.Contract.Person.FirstName @Model.Contract.Person.MiddleName
    @Model.Contract.Person.LastName , номер паспорта @Model.Contract.Person.Passport.Series
    @Model.Contract.Person.Passport.Number , проживающий по адресу
    @Model.Contract.Person.Address.City.Name , @Model.Contract.Person.Address.AddressLine именуемый в дальнейшем "Страхователь", с другой
        стороны, заключили настоящий договор о нижеследующем:
    </b>
</div> <br/>
<div>
<ol>
<li>
    <div align="center">Предмет договора</div><br/>

    <ol><li>Согласно настоящему договору Страховщик обязуется при
        наступлении обусловленных в договоре страховых случаев в отношении
        Страхователя, выплатить Страхователю или его наследникам страховую
        сумму в размере, предусмотренном договором, а Страхователь обязуется
        уплатить страховую премию в размере @Model.Contract.Amount в порядке и в сроки,
        предусмотренные договором.
    </li></ol></li><br/>
<li>
    <div align="center">Права и обязанности сторон</div><br/>
    <ol>
        <li>Страховыми случаями по настоящему договору признаются
            следующие события:<br/>
            а) смерть Страхователя в период действия настоящего договора;<br/>
            б) дожитие Страхователя до сроков, установленных договором
            страхования.</li><br/>
        <li>Смерть Страхователя в период действия настоящего договора не
            признается страховым случаем, если она наступила в результате:<br/>
            а) совершения Страхователем или его наследниками умышленного
            деяния (действия или бездействия), повлекшего наступление смерти
            Застрахованного, за исключением случая, указанного в п. 2.3;<br/>
            б) управления Страхователем транспортным средством в состоянии
            алкогольного, наркотического или токсического опьянения или передачи
            управления лицу, находящемуся в состоянии алкогольного, наркотического
            или токсического опьянения, или лицу, не имеющему права на вождение
            данного транспортного средства;<br/>
            в) воздействия ядерного взрыва, радиации или радиоактивного
            заражения;<br/>
            г) военных действий, а также маневров или иных военных
            мероприятий;<br/>
            д) гражданской войны, народных волнений или забастовок.</li><br/>
        <li>Смерть Страхователя в результате самоубийства не считается
            страховым случаем, если к моменту наступления смерти договор
            страхования действовал менее двух лет.</li><br/>
        <li>При наступлении страхового случая, предусмотренного подп.
            "а" п. 2.1. настоящего договора, Страховщик обязан произвести выплату
            страховой суммы наследникам Страхователя в течение 45 дней после
            получения и составления всех необходимых документов, указанных в
            настоящем договоре.</li><br/>
        <li>При наступлении страхового случая, предусмотренного подп.
            "б" п. 2.1. настоящего договора, Страховщик обязан произвести выплату
            страховой суммы Страхователю в течение 45 дней после получения всех
            необходимых документов, указанных в настоящем договоре.</li><br/>
        <li>Выплаты страховой суммы по страховому случаю,
            предусмотренному подп. "б" п. 2.1 настоящего договора, производятся
            Страхователю при его дожитии до @Model.Contract.EndDate.Day числа каждого
            последнего месяца каждого года начиная с даты, когда вся страховая премия будет выплачена
            Страхователем в порядке п. 2.12 договора. Датой последней выплаты
            является дата окончания срока действия договора.</li><br/>
        <li>В случае, если Страхователь умер, не успев получить
            причитающуюся ему страховую сумму по дожитию, то выплата производится
            его наследникам.</li><br/>
        <li>Страховая премия уплачивается Страхователем в рассрочку в
            порядке безналичного расчета. Премия вносится ежемесячно не позднее @Model.Contract.EndDate.Day
            числа каждого месяца в течение @months месяцев
            равными взносами по @Model.Contract.Premium . Страхователь может в любое время внести
            всю оставшуюся часть премии или вносить денежные суммы в счет
            последующих периодов выплаты премии.</li><br/>
        <li>Если смерть Страхователя наступила до уплаты очередного
            страхового взноса, внесение которого просрочено, Страховщик вправе из
            страховой суммы вычесть сумму просроченного страхового взноса,
            неустойку и проценты за просрочку, установленные пп. 4.3 и 4.4
            настоящего договора.</li><br/>
        <li>Страхователь имеет право на получение от Страховщика
            информации, касающейся его финансовой устойчивости и не являющейся
            коммерческой тайной.</li><br/>
        <li>Страхователь обязан незамедлительно сообщать Страховщику о
            своих болезнях, смене места работы и иных обстоятельствах, которые
            могут повлиять на возможность наступления смерти Страхователя или угрозы его здоровью.</li><br/>
        <li>Наследники Страхователя имеют право предъявлять те же
            требования к Страховщику, что и Страхователь.</li><br/>
        <li>При предъявлении наследниками Страхователя требований о
            выплате страховой суммы Страховщик вправе требовать от них выполнения
            обязанностей по договору, лежащих на Страхователе, но не выполненных
            им. Риск последствий невыполнения или несвоевременного выполнения
            обязанностей несут наследники Страхователя. Страховщик не вправе
            принудить наследников Страхователя к выполнению указанных обязанностей
            Страхователя.</li><br/>
    </ol> </li>
<li>
    <div align="center">Условия выплаты страховой суммы</div><br/>
    <ol>
        <li>Страхователем при дожитии до срока, установленного в п. 2.6,
            представляется:<br/>
            а) номер настоящего договора;<br/>
            б) заявление о выплате страховой суммы;<br/>
            в) документ, удостоверяющий личность.</li><br/>
        <li>В случае смерти Страхователя его наследники представляют:<br/>
            а) номер настоящего договора;<br/>
            б) документы, удостоверяющие личность;<br/>
            в) свидетельство ЗАГСа или его заверенную копию о смерти Страхователя;<br/>
            г) документы, удостоверяющие вступление в права наследования.</li><br/>
        <li>Все заявления подаются через форму на сайте компании с помощью личного
            кабинета Страхователя.</li><br/>
        <li>При необходимости предоставления дополнительных сведений или документов,
            Страхователь (или его представители)
            обязаны предоставить их в электронном виде через форму на сайте компании, которая
            находится в личном кабинете пользователя.</li><br/>
        <li>При необходимости Страховщик запрашивает сведения, касающиеся
            страхового случая, у правоохранительных органов, банков, медицинских
            учреждений и других организаций, а также вправе самостоятельно
            выяснять причины и обстоятельства страхового случая.</li><br/>
        <li>В случае, если по факту смерти Страхователя возбуждено
            уголовное дело, Страховщик имеет право отсрочить решение вопроса о
            выплате страховой суммы до момента принятия соответствующего решения
            компетентными органами.</li><br/>
        <li>Страховщик имеет право проверять любую сообщаемую ему
            Страхователем и его наследниками, а также ставшую известной
            Страховщику информацию, которая имеет отношение к настоящему договору.
            Страхователь, и его наследники обязаны дать Страховщику возможность
            беспрепятственной проверки информации и предоставлять все необходимые
            документы и иные доказательства.</li><br/>
        <li>В случае нарушения Страхователем и его наследниками
            обязанности, предусмотренной п. 3.7 настоящего договора, сообщенные
            ими сведения считаются не соответствующими действительности, а
            сведения, которые они отказываются сообщить, считаются
            соответствующими действительности.</li><br/>
    </ol> </li>
<li>
    <div align="center">Ответственность сторон</div><br/>
    <ol>
        <li>Сторона, не исполнившая или ненадлежащим образом исполнившая
            обязательства по настоящему договору, обязана возместить другой
            стороне причиненные таким неисполнением убытки.</li><br/>
        <li>За просрочку выплаты страховой суммы Страховщик уплачивает
            получателю страховой суммы пеню в размере 0,5 % от страховой суммы за
            каждый день просрочки.</li><br/>
        <li>За просрочку внесения очередного страхового взноса
            Страхователь уплачивает Страховщику пеню в размере 1,5 % от суммы
            неуплаченного страхового взноса за каждый день просрочки.</li><br/>
        <li>Сторона за невыплату или несвоевременную выплату денежных
            сумм, причитающихся другой стороне по настоящему договору, должна
            уплатить другой стороне проценты в размере 1 % от причитающейся
            суммы за каждый день просрочки.</li><br/>
        <li>Взыскание неустоек и процентов не освобождает сторону,
            нарушившую договор, от исполнения обязательств в натуре.</li><br/>
        <li>В случаях, не предусмотренных настоящим договором,
            имущественная ответственность определяется в соответствии с
            действующим законодательством РФ и Правилами страхования.</li><br/>
    </ol> </li>
<li>
    <div align="center">Изменение договора</div><br/>
    <ol><li>
            Страхователь по согласованию со Страховщиком имеет право
            увеличить размер страховой суммы. При этом подлежит уплате
            дополнительный страховой взнос в размере и порядке, предусмотренном
            соглашением сторон.</li><br/>
        <li>Страхователь по согласованию со Страховщиком имеет право
            уменьшить размер страховой суммы. В этом случае Страхователю подлежит
            возврату излишне уплаченная часть страховой премии пропорционально
            изменению страховой суммы. Если страховая премия в новом размере
            уплачена не полностью, то стороны вносят в договор изменения,
            касающиеся порядка уплаты и размеров очередных взносов.</li><br/>
    </ol></li>
<li>
    <div align="center">Срок действия договора</div><br/>
    <ol><li>
            Настоящий договор заключен на срок до @Model.Contract.StartDate и вступает в силу с
            момента подписания.</li><br/>
    </ol></li>
<li>
    <div align="center">Окончание действия договора</div><br/>
    <ol><li>
            Действие договора страхования прекращается в случае
            выполнения сторонами своих обязательств по договору в полном объеме.</li><br/>
        <li>Обязательства по договору прекращаются досрочно в случае
            смерти Страхователя в случаях, предусмотренных п. 2.2 и 2.3 настоящего
            договора.</li><br/>
        <li>Страхователь вправе досрочно расторгнуть договор с
            обязательным уведомлением об этом Страховщика не позднее
            чем за 7 дней до даты предполагаемого расторжения.</li><br/>
        <li>В случае повторного нарушения Страховщиком сроков выплаты
            страховой суммы Страхователь вправе досрочно расторгнуть договор с
            момента уведомления Страховщика.</li><br/>
        <li>Страховщик вправе расторгнуть договор с письменного согласия
            Страхователя, уведомив Страхователя не позднее чем за 7
            дней до даты предполагаемого расторжения.</li><br/>
        <li>Страховщик вправе досрочно расторгнуть договор в случае
            неуплаты Страхователем очередного взноса страховой премии в течение
            7 дней после предупреждения им Страхователя.</li><br/>
        <li>Страховщик вправе досрочно расторгнуть договор в случае
            участия Страхователя или его наследников в оконченном или неоконченном
            правонарушении, направленном против жизни или здоровья
            Застрахованного.</li><br/>
        <li>Страховщик вправе досрочно расторгнуть договор в случае
            покушения Страхователя на самоубийство, если к тому времени договор
            действовал менее двух лет.</li><br/>
        <li>В случае досрочного прекращения действия договора
            уплаченная Страховщику премия уплатившему ее лицу не возвращается, за
            исключением случая, предусмотренного п. 7.4 договора.</li><br/>
        <li>В случаях досрочного прекращения действия договора в связи
            со смертью Страхователя по причинам, указанным в подп. "а" и "б" п.
            2.2 и в п. 2.3 настоящего договора, Страхователь выплачивает Страховщику
            расходы, понесенные последним при составлении страхового акта либо при
            выяснении обстоятельств, предусмотренных в указанных пунктах.</li><br/>
        <li>Прекращение действия договора не освобождает стороны от
            ответственности за его нарушение.</li><br/>
    </ol></li>
<li>
    <div align="center">Конфиденциальность</div><br/>
    <ol><li>
            Условия настоящего договора, дополнительных соглашений к
            нему и иная информация, полученная Страховщиком в соответствии с
            договором, конфиденциальны и не подлежат разглашению.</li><br/>
    </ol></li>
<li>
    <div align="center">Разрешение споров</div><br/>
    <ol><li>
            Все споры и разногласия, которые могут возникнуть между
            сторонами по вопросам, не нашедшим своего разрешения в тексте данного
            договора, будут разрешаться путем переговоров на основе действующего
            законодательства.</li><br/>
        <li>При неурегулировании в процессе переговоров спорных
            вопросов, споры разрешаются в суде в порядке, установленном
            действующим законодательством.</li><br/>
    </ol></li>
<li>
    <div align="center">Дополнительные условия и заключительные положения</div><br/>
    <ol><li>
            Любые изменения и дополнения к настоящему договору
            действительны, при условии, если они подписаны сторонами или надлежаще уполномоченными на то
            представителями сторон.</li><br/>
        <li>Все уведомления и сообщения должны направляться в
            электронном виде через интернет-портал страховой компании или непосредственно на электронную
            почту представителя страховой компании.</li><br/>
        <li>Во всем остальном, что не предусмотрено настоящим
            договором, стороны руководствуются действующим законодательством и
            Правилами страхования, на основании которых заключен договор. Правила
            страхования вручаются Страховщиком Страхователю, о чем в договоре
            делается пометка, удостоверяемая подписями указанных лиц.</li><br/>
        <li>Договор составлен в двух экземплярах, из которых один
            находится у Страхователя, второй - у Страховщика.</li><br/>
        <li>В случае, если получателем страховой выплаты является не сам Страховщик, ниже указываются
            данные лица, уполномоченного в получении страховой суммы в случае наступления страхового случая
            в соответствии с данным договором, в дальнейшем именуемый Бенефициар:<br/>
            Фамилия, имя, отчество - @Model.Beneficiary.FirstName @Model.Beneficiary.MiddleName
            @Model.Beneficiary.LastName ;<br/>
            Номер паспорта - @Model.Beneficiary.Passport.Series @Model.Beneficiary.Passport.Number</li>
    </ol> </li> </ol>
</div>
</body>
</html>