﻿<fieldset ng-controller="IllnessController as controller">

    <legend>Заболевания</legend>

    <uib-accordion close-others="false">

        <uib-accordion-group ng-repeat="type in controller.illnessTypes"
                             panel-class="panel-info"
                             heading="{{::type.name}}">

            <div isteven-multi-select
                 input-model="illnesses[type.id]"
                 output-model="customerIllnesses[type.id]"
                 on-search-change="controller.onSearch(type.id, data)"
                 button-label="name"
                 item-label="name"
                 search-property="name"
                 min-search-length="3"
                 translation="controller.localization"
                 tick-property="selected">
            </div>

        </uib-accordion-group>

    </uib-accordion>

</fieldset>