﻿<fieldset ng-controller="AddressController as controller">
    
    <legend>Адрес</legend>

    <div class="form-group">
        <label class="col-sm-3"> Город </label>
        <div class="col-sm-9">
            <input type="text" placeholder="Минск"
                   class="form-control"
                   ng-model="address.city"
                   typeahead-select-on-exact="true"
                   typeahead-min-length="2"
                   uib-typeahead="city as city.displayName for city in controller.getCities($viewValue) | limitTo: 10"
                   required />
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-3"> Адрес </label>
        <div class="col-sm-9">
            <input type="text"
                   class="form-control"
                   placeholder="улица Есенина, 15 - 124"
                   ng-model="address.addressLine"
                   required />
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-3"> Почтовый индекс </label>
        <div class="col-sm-9">
            <input type="text"
                   class="form-control"
                   placeholder="220051"
                   ng-model="address.postalCode"
                   pattern="\d{6,6}"
                   required />
        </div>
    </div>

</fieldset>