﻿<div class="panel panel-default cancel-contract" ng-controller="CorrectionController as controller">
    <div class="panel-heading">
        <b>Ответить на запрос</b>
        <button type="button" class="btn btn-warning btn-xs pull-right" ui-sref="app.myContracts">ОТМЕНИТЬ</button>
    </div>
    <div class="panel-body">

        <form class="form-horizontal col-sm-offset-1 col-sm-10"
              ng-submit="controller.submit()">

            <div class="form-group">
                <strong>Вопрос:</strong>
                <span>{{::controller.request.request}}</span>
            </div>

            <div class="form-group">
                <label class="control-label">Ваш ответ:</label>
                <textarea class="form-control" ng-model="controller.response" required></textarea>
            </div>

            <div class="form-group">
                <button type="submit" class="btn btn-large btn-info">Подать</button>
            </div>

        </form>
    </div>
</div>
