﻿<div class="row">
    <div class="col-sm-12">

        <form class="form-horizontal">

            <div class="row">

                <div class="col-sm-4">

                    <fieldset>
                        <legend> Страховая информация </legend>

                        <div class="form-group">
                            <label class="col-sm-3"> Вид страхования</label>
                            <div class="col-sm-8 col-sm-offset-1">
                                {{::application.insuranceType.name}}
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3"> Желаемая сумма </label>
                            <div class="col-sm-8 col-sm-offset-1">
                                {{::application.insuranceSum}}
                                <span>бел. руб.</span>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3"> Порядок оплаты </label>
                            <div class="col-sm-8 col-sm-offset-1">
                                {{::application.paymentOrder.name}}
                            </div>
                        </div>

                    </fieldset>

                    <fieldset>

                        <legend>Адрес</legend>

                        <div class="form-group">
                            <label class="col-sm-3"> Город </label>
                            <div class="col-sm-8 col-sm-offset-1">
                                {{::application.applicant.address.city.name}}
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3"> Адрес </label>
                            <div class="col-sm-8 col-sm-offset-1">
                                {{::application.applicant.address.addressLine}}
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3"> Почтовый индекс </label>
                            <div class="col-sm-8 col-sm-offset-1">
                                {{::application.applicant.address.postalCode}}
                            </div>
                        </div>

                    </fieldset>

                </div>

                <div class="col-sm-4">

                    <fieldset>

                        <legend>Страхуемый</legend>

                        <person person="application.applicant"></person>

                        <div class="form-group">
                            <label class="col-sm-3"> Род занятий </label>
                            <div class="col-sm-8 col-sm-offset-1">
                                {{::application.applicant.occupation.name}}
                                <span ng-if="application.applicant.occupationDetails">{{::application.applicant.occupationDetails}}</span>
                            </div>
                        </div>

                    </fieldset>

                </div>

                <div class="col=sm-4">
                    <fieldset>
                        <legend>Бенефициар</legend>
                        <person person="application.beneficiary"></person>
                    </fieldset>
                </div>

            </div>

            <div class="row">

                <div class="col-sm-4">

                    <fieldset>

                        <legend>Заболевания</legend>

                        <span ng-hide="application.applicant.illnesses.length">
                            Нет болезней...
                        </span>

                        <ul class="list-group" ng-show="application.applicant.illnesses.length">
                            <li class="list-group-item" ng-repeat="illness in application.applicant.illnesses">
                                <span class="badge">{{::illness.illnessType.name}}</span>
                                {{::illness.name}}
                            </li>
                        </ul>

                    </fieldset>

                </div>

            </div>

        </form>
    </div>
</div>